<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/blogs">TwitterクローンHOME</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a href="/blogs">トップへ</a></li>  
        <li><a href="/blogs/new">ツイートする</a></li>
        <li><a href="/blogs/all">ツイート一覧</a></li>
        </ul>
    </div>
  </div>
</nav>

<div class="col-xs-12 col-md-6">
<head><%= link_to 'ツイートする', new_blog_path %></head>

<h1>ツイート一覧</h1>

<p><%= notice %></p>

<table class="container">
 
<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.content %></td>

    <td><%= link_to "編集",edit_blog_path(blog.id),data:{ confirm: '本当に編集していいですか？'} %></td>
    
    <td><%= link_to '削除', blog_path(blog.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
</div>