<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h2><%= link_to "ブログ一覧画面へ",blogs_path %></h2>
<h3><%=@user.name%>さんのお気に入り一覧</h3>
  <% @favorites_blogs.each do |favorites_blogs| %>
    <p><%=favorites_blogs.content%></p>
    <p><%=image_tag favorites_blogs.image%></p>
  <%end%>